/* ===================================================================
   ! Configurable menu
   ===================================================================*/

.menu-main-box {
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0;
}

.menu-control-button {
    border-image: url("button-assets//button.svg") 7;
    padding: 10px;

    &-selected {
        border-image: url("button-assets//button-hover.svg") 7;
        padding: 10px;
    }

    &:open {
        border-image: url("button-assets//button-pressed.svg") 7;
        padding: 10px;
    }

    &-selected:open {
        border-image: url("button-assets//button-pressed.svg") 7;
        padding: 10px;
    }
}

/* Fixes for stylized & classic layouts */
.menu-main-box-stylized,
.menu-main-box-classic {
    padding-top: 6px;
    padding-left: 15px;
    padding-right: 6px;
    padding-bottom: 0;
}

.menu-categories-box-stylized,
.menu-categories-box-classic,
.menu-top-box-stylized,
.menu-top-box-classic {
    padding-left: 10px;
}

.menu-search-box-stylized,
.menu-search-box-classic {
    padding-left: 0;
    padding-top: 0;
}
