/* ===================================================================
   ! Xcenter
   ===================================================================*/

/* Use to override the '.popup-menu-content' selector */
.xCenter-menu {
    .popup-menu-content {
        border-image: url("background-assets/popup-outside.svg") 4;
        padding: 0;
        max-height: 475px;
    }

    .popup-menu-item {
        padding: .4em 1.6em;

        &:active {
            border-image: url("background-assets/hover.svg") 8;
        }
    }
}

.xCenter-mainBox {
    padding: 0 4px;
    spacing: 0;
}

.xCenter-mainBox StIcon {
    color: $icon-primary;
    padding-bottom: 1px;
}

.xCenter-title {
    border: 0 rgba(0, 0, 0, 0);
    border-bottom-width: 4px;
    font-size: 8pt;
    font-weight: bold;
}

.xCenter-pane {
    border-image: url("background-assets/popup-inside-wider.svg") 7;
    padding: 1em .2em;
}

.xCenter-menuItemLabel {
    max-width: 12em;
}
