/* ===================================================================
   ! Reddit reader
   ===================================================================*/

.reddit-reader {
    border-image: url("background-assets/popup.svg") 7;
    padding: 3px;
    color: $text-primary;

    StScrollBar {
        padding-left: 1px;
        padding-right: 4px;
    }
}

/* Title */
.reddit-title-bar {
    border-image: url("background-assets/sub.svg") 6;
    padding: 10px;
    font-size: 10pt;
    font-weight: bold;
}

.reddit-header-icon {
    padding-right: 6px;
    icon-size: 16px;
    color: $icon-primary;
}

.reddit-title {
    padding-right: 6px;
    font-size: 14pt;
}

.reddit-subtitle {
    color: $text-secondary;
    font-size: 10pt;
}

/* Posts */
.reddit-posts-box {
    spacing: 4px;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 4px;
}

.reddit-post {
    border-image: url("background-assets/dark-bg-top.svg") 7;
    padding: 10px;
    color: $text-primary;
    font-size: 8pt;
}

.reddit-info-box {
    border-image: url("background-assets/dark-bg-bottom.svg") 7;
    padding: 10px;
    padding-top: 0;
    spacing: 10px;
    font-size: 7pt;
    color: $text-secondary;
}
