/************
 * Nautilus *
 ************/

.nautilus-desktop .entry {
	background-image: none;
	border-image: none;
}

NautilusWindow .sidebar row:hover {
	background-color: @theme_hover_bg_color;
}

/*********
 * Gedit *
 *********/

GeditFloatingSlider .entry.not-found:focus {
	border-image: url("img/border-error.png") 3 3 4 3 / 3px 3px 4px 3px repeat;
}

/*******************
 * gnome-documents *
 *******************/

.documents-scrolledwin.frame {
	border-width: 1px 0 0 0;
	border-radius: 0;
}

.documents-main-view.view {
	background-color: @theme_base_color;
}

GtkIconView.documents-main-view.check {
	background-repeat: no-repeat;
	background-position: center;
	background-color: @theme_base_color;
}

.documents-selection-mode.toolbar {
	border-width: 0;
}

.documents-selection-mode.toolbar .dim-label {
	color: @theme_fg_color;
}

.documents-icon-bg {
	background-color: @theme_bg_color;
	border-radius: 3px;
	color: @theme_base_color;
}

.documents-collection-icon {
	background-color: @theme_bg_color;
	border-radius: 3px;
}

/***************
 * gnome-panel *
 ***************/

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelApplet {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}

PanelAppletFrame {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}

PanelApplet .button,
PanelApplet .button:active,
PanelApplet .button:hover,
PanelApplet .button:hover:active {
	border-image: url("img/border-gnome-panel-button.png") 3 / 3 repeat;
}

NaTrayApplet {
	-NaTrayApplet-icon-padding: 7;
	-NaTrayApplet-icon-size: 22;
}

GsmFailWhaleDialog {
	background-color: @os_chrome_bg_color;
	background-image: none;
	color: @os_chrome_fg_color;
}

/* gnome-terminal */
TerminalScreen {
	background-color: @theme_base_color;
	color: @theme_fg_color;
}

/************
 * Baobab *
 ************/

BaobabWindow GtkGrid {
    background-color: @theme_base_color;
}

BaobabLocationList GtkGrid {
    background-color: transparent;
}

.baobab-toolbar.toolbar {
    border-color: shade (@theme_base_color, 0.9);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-radius: 0;
}

.cell.baobab-level-cell,
.cell.baobab-level-cell:hover,
.cell.baobab-level-cell:selected,
.cell.baobab-level-cell:selected:hover {
    border-color: alpha (black, 0.06);
    border-width: 1px;
    border-style: solid;
    background-color: @theme_base_color;
}

/************
 * Nemo *
 ************/

.nemo-pathbar-button,
NemoPathbarButton {
	background-image: linear-gradient(to bottom, @theme_bg_color);
	border-color: transparent;
	color: @theme_fg_color_1;
    transition: all 500ms ease-in-out;
}

NemoPathbarButton:active {
	background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@core_color_a, 0.9)), to(shade(@core_color_a, 0.9)));
	border-color: transparent;
	color: @theme_fg_color;
}

NemoPathbarButton:hover {
	background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@core_color_a, 0.97)), to(shade(@core_color_a, 0.97)));
	border-color: transparent;
}

NemoPathbarButton:active:hover {
	background-image: -gtk-gradient(linear, left top, left bottom, from(shade(@core_color_a, 0.9)), to(shade(@core_color_a, 0.9)));
	border-color: transparent;
	color: @theme_fg_color;
}

NemoWindow .sidebar row:hover {
	background-color: @theme_hover_bg_color;
}

NemoPlacesTreeView {
    -NemoPlacesTreeView-disk-full-bg-color: @theme_base_color;
    -NemoPlacesTreeView-disk-full-fg-color: @theme_base_color;
    /*-NemoPlacesTreeView-disk-full-bar-width: 2px;
    -NemoPlacesTreeView-disk-full-bar-radius: 1px;
    -NemoPlacesTreeView-disk-full-bottom-padding: 1px;
    -NemoPlacesTreeView-disk-full-max-length: 90px;*/
}

NemoPlacesTreeView:selected,
NemoPlacesTreeView:selected:focus,
NemoPlacesTreeView:selected:hover {
    -NemoPlacesTreeView-disk-full-bg-color: @theme_selected_bg_color;
    -NemoPlacesTreeView-disk-full-fg-color: @theme_selected_bg_color;
}

NemoPlacesTreeView:hover {
    -NemoPlacesTreeView-disk-full-bg-color: @theme_hover_bg_color;
    -NemoPlacesTreeView-disk-full-fg-color: @theme_hover_bg_color;
}

/************
 *  Unity   *
 ************/

/* Decorations */
UnityDecoration {
    -UnityDecoration-extents: 28px 1px 1px 1px;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 0;
    -UnityDecoration-shadow-offset-y: 0;
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0);
    -UnityDecoration-active-shadow-radius: 1px;
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0);
    -UnityDecoration-inactive-shadow-radius: 1px;

	-UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
    border: 1px solid @button_hg3; 
    border-bottom-width: 0;
    border-radius: 0 0 0 0;
    padding: 1px 8px 0 8px;
    background-color: @theme_bg_color;
    color: @theme_fg_color;
}

UnityDecoration.top:backdrop {
    color: shade(@theme_bg_color, 0.6);
}

UnityDecoration.left,
UnityDecoration.right {
    border: 1px solid @button_hg3;
}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop {
}

UnityDecoration.bottom {
    background-color: @button_hg3;
}

/* Panel */
UnityPanelWidget,
.unity-panel {
	background-color: @theme_bg_color;
	color: @theme_fg_color;
	border-width: 0;
}

.unity-panel.menubar.menuitem:hover {
	background-color: @theme_selected_bg_color;
	border-style: none;
	border-width: 1px 1px 0px;
	border-color: @core_color_a;
	border-radius: 0 0 0 0;
	color: @theme_fg_color;
}

