/* ===================================================================
   ! Tooltips
   ===================================================================*/

#Tooltip {
    padding: 2px 6px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(30, 30, 30, .8);
    background-gradient-end: rgba(30, 30, 30, .8);
    border: 1px solid rgba(255, 255, 255, .15);

    padding: 6px 8px;

    color: $text-primary;
    font-size: 8pt;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
}
