/* ===================================================================
   ! Stopwatch
   ===================================================================*/

.stopwatch-ready,
.stopwatch-ready:hover,
.stopwatch-running,
.stopwatch-running:hover,
.stopwatch-paused,
.stopwatch-day-exceeded,
.stopwatch-running-day-exceeded,
.stopwatch-paused-day-exceeded {
    background-color: rgba(0, 0, 0, 0);
    padding: 3px 5px;
}

/* Different images used in top & bottom panels */
@each $v in panel-top, panel-bottom {
    .#{$v} .stopwatch-ready:hover {
        border-image: url("panel-assets/#{$v}-item-blue-hover.svg") 4;
    }

    .#{$v} .stopwatch-running {
        border-image: url("panel-assets/#{$v}-item-blue-active.svg") 4;
    }

    .#{$v} .stopwatch-running:hover {
        border-image: url("panel-assets/#{$v}-item-blue-hover.svg") 4;
    }

    .#{$v} .stopwatch-paused,
    .#{$v} .stopwatch-paused:hover,
    .#{$v} .stopwatch-day-exceeded,
    .#{$v} .stopwatch-running-day-exceeded,
    .#{$v} .stopwatch-paused-day-exceeded {
        border-image: url("panel-assets/#{$v}-item-red.svg") 4;
    }
}

.stopwatch-ready * { color: $text-secondary; }
.stopwatch-ready:hover * { color: $text-primary; }
